.about {
    display: flex;
    flex-flow: row wrap;
}

.languagesWrapper, .activityWrapper {
    width: 100%;
}

.rit {
    width: 120px;
    height: 120px;
}

.map {
    height: 500px;
    width: 500px;
}

.college {
    font-family: 'Roboto';
    color: #3E3E3E;
}

@media only screen and (min-width: 1080px) {
    .languagesWrapper, .activityWrapper {
        width: 50%;
    }
}